<template>
    <v-flex xs12>
        <v-card>
            <v-toolbar color="grey lighten-3">
                <v-toolbar-side-icon></v-toolbar-side-icon>

                <v-toolbar-title>Inbox</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-btn icon @click="refresh()">
                    <v-icon>refresh</v-icon>
                </v-btn>
            </v-toolbar>

            <v-list two-line>
                <template>
                    <v-subheader>
                        Contact
                    </v-subheader>
                </template>
                <template v-for="(item,index) in Inbox">
                    <v-list-tile :key="item.title" avatar @click="hover()">
                        <v-list-tile-avatar>
                            <img src="/picture/user.png">
                        </v-list-tile-avatar>

                        <v-list-tile-content @click="Gotomail(item.id)">
                            <v-list-tile-title v-html="item.mb_subject"></v-list-tile-title>
                            <v-list-tile-sub-title>
                                <span class='text--primary'>{{item.mb_name}}</span> &mdash;
                                {{item.mb_message.substr(0,20)}}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-btn icon ripple @click="delMail(item.id)">
                                <v-icon>delete</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider inset v-if="index + 1 < Inbox.length" :key="`divider-${index}`"></v-divider>
                </template>
            </v-list>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        computed: {
            Inbox() {
                return this.$store.state.moduleInbox.inbox;
            }
        },
        methods: {
            refresh() {
                this.$store.dispatch('getInbox');
            },
            Gotomail(id) {
                this.$router.push({ name:'/Inbox', params: {id:id} });
            },
            hover() {

            },
            delMail(id) {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/mailboxs/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getInbox');
                            })
                    }
                });
            }
        },
        async beforeCreate() {
            await this.$store.dispatch('getInbox');
        }
    }
</script>

<style>

</style>