<template>
    <div class="card-carousel-wrapper">
        <div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList"></div>
        <div class="card-carousel">
            <div class="card-carousel--overflow-container">
                <div class="card-carousel-cards" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}">
                    <div class="card-carousel--card" v-for="(item,index) in items" :key="index">
                        <figure>
                            <img class="tag" src="/picture/flash-tag.png" />
                            <img class="p-img" :src="path+'/Picture/MainProductPicture/'+item.product.p_img" v-if="item.product.p_img!=null">
                            <img class="p-img" src="/picture/blogo.png" alt="" v-else>
                        </figure>
                        <div class="card-carousel--card--footer">
                            <p>
                                <v-tooltip top open-delay="100" close-delay="100">
                                    <p slot="activator">{{item.product.p_name_TH.substr(0,40)}} {{item.product.p_attr}}</p>
                                    <span>{{item.product.p_name_TH}} {{item.product.p_attr}}</span>
                                </v-tooltip>
                            </p>
                            <p>{{ item.product.brand.brand_name_EN }}</p>
                            <p>{{ formatMoney(item.fsd_price) }} บาท</p>
                            <p>{{ formatMoney(item.product.p_price) }} บาท</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"></div>
    </div>
</template>

<script>
    export default {
        name: "Carousel",
        props: {
            items: Array
        },
        data() {
            return {
                currentOffset: 0,
                windowSize: 5,
                paginationFactor: 100,
                path: process.env.VUE_APP_ROOT_API
            }
        },
        computed: {
            atEndOfList() {
                return this.currentOffset <= (this.paginationFactor * -1) * (this.items.length - this.windowSize);
            },
            atHeadOfList() {
                return this.currentOffset === 0;
            },
        },
        methods: {
            moveCarousel(direction) {
                // Find a more elegant way to express the :style. consider using props to make it truly generic
                if (direction === 1 && !this.atEndOfList) {
                    this.currentOffset -= this.paginationFactor;
                } else if (direction === -1 && !this.atHeadOfList) {
                    this.currentOffset += this.paginationFactor;
                }
            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
        }
    }
</script>

<style lang="scss">
    $vue-navy: black;
    $vue-navy-light: black;
    $vue-teal: black;
    $vue-teal-light: black;
    $gray: black;
    $light-gray: black;


    body {
        font-family: 'Kanit', sans-serif;
        min-height: 1000px;
    }

    .card-carousel-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0px;
        color: $gray;
    }

    .card-carousel {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;

        &--overflow-container {
            overflow: hidden;
        }

        &--nav__left,
        &--nav__right {
            display: inline-block;
            width: 15px;
            height: 15px;
            padding: 10px;
            box-sizing: border-box;
            border-top: 2px solid $vue-teal;
            border-right: 2px solid $vue-teal;
            cursor: pointer;
            margin: 0 10px;
            transition: transform 150ms linear;

            &[disabled] {
                opacity: 0.2;
                border-color: black;
            }
        }

        &--nav__left {
            transform: rotate(-135deg);

            &:active {
                transform: rotate(-135deg) scale(0.9);
            }
        }

        &--nav__right {
            transform: rotate(45deg);

            &:active {
                transform: rotate(45deg) scale(0.9);
            }
        }
    }

    .card-carousel-cards {
        display: flex;
        transition: transform 150ms ease-out;
        transform: translatex(0px);
        
        .card-carousel--card {
            width: 200px;
            margin: 0 10px;
            cursor: pointer;
            background-color: #29b6f6;
            border-radius: 4px;
            z-index: 3;
            margin-bottom: 2px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }


            >figure {
                display: block;
                position: relative;
                border: 1px solid white;
                padding: 10px;
                background: white !important;
                width: 200px;
                height: 200px;

                .p-img {
                    vertical-align: bottom;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    transition: opacity 150ms linear;
                    user-select: none;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                .tag {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 60px;
                    height: auto;
                }
            }

            &--footer {
                border-top: 0;
                padding: 7px 15px;

                p {
                    padding: 3px 0;
                    margin: 0!important;
                    font-size: 15px;
                    font-weight: 500;
                    text-align: center;

                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }

                    &:nth-child(2) {
                        font-size: 12px;
                        color: gray;
                        margin-bottom: -5px;
                    }

                    &:nth-of-type(3) {
                        font-size: 20px;
                        font-weight: 300;
                        color: #ec407a;
                    }
                    &:nth-of-type(4) {
                        font-size: 12px;
                        font-weight: 300;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }

    h1 {
        font-size: 3.6em;
        font-weight: 100;
        text-align: center;
        margin-bottom: 0;
        color: $vue-teal;
    }
</style>