<template>
    <div>
        <v-list-group sub-group ripple v-if="subCategoryByID.length > 0">
            <v-list-tile ripple slot="activator" :to="{name:'/Product', params: {id: data.id}}">
                <v-list-tile-title><label :style="{paddingLeft:pad+'px'}">{{$i18n.locale==='th'? data.c_name_TH : data.c_name_EN}}</label></v-list-tile-title>
            </v-list-tile>
            <cat-menu v-for="(cat,i) in subCategoryByID" :key="i" :data="cat" :pad="pad+15"></cat-menu>
        </v-list-group>
        <v-list-tile ripple :to="{name:'/Product', params: {id: data.id}}" v-else>
            <v-list-tile-title><label :style="{paddingLeft:pad+'px'}">{{$i18n.locale==='th'? data.c_name_TH : data.c_name_EN}}</label></v-list-tile-title>
        </v-list-tile>
    </div>
</template>

<script>
    export default {
        name: "CatMenu",
        props: {
            data: Object,
            pad : Number
        },
        computed : {
            subCategoryByID(){
                let store = this.$store.getters.subCategoryByID(this.data.id);
                return store;
            }
        }
    }
</script>

<style>

</style>